terraform/terraform.tfvars
terraform.tfstate*
.terraform
.terraform.lock.hcl
.env
submit-replicator.sh
source-kafka.properties
target-kafka.properties
cfk-source-cluster-creds.txt
cfk-target-cluster-creds.txt
cfk-sr-cluster-creds.txt
cp-platform.yaml
replicator.yaml
notes.txt
connector-replicator.json
kustomize-controlcenter.yaml
kustomize-connect.yaml
kustomize-replicator.yaml